@model MediDate.Models.Paciente

@{
    ViewData["Title"] = "Create";
}

@if (TempData["AlertMessage"] != null)
{
    <!--Modal Correo ingresado ya existe-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["AlertMessage"]', 'info');
        }
    </script>
}

<div class="container">

    <div><label></label></div>

    <h4>Crear cuenta</h4>
    <hr />

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Correo</label>
                    <input name="Email" type="email" placeholder="correo@ejemplo.com" class="form-control" required />
                    <div><label></label></div>
                    <label class="control-label">Contraseña</label>
                    <input name="Pass" type="password" placeholder="Contraseña" class="form-control" required />
                    <div><label></label></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" placeholder="Nombre" required/>
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div><label></label></div>
                <div class="form-group">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" placeholder="Apellido" required/>
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div><label></label></div>
                <div class="form-group">
                    <label asp-for="FechaNacimiento" class="control-label"></label>
                    <input asp-for="FechaNacimiento" class="form-control" type="date"/>
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
                <div><label></label></div>
                <div class="form-group">
                    <label asp-for="Telefono" class="control-label">Número de Celular</label>
                    <img data-bs-toggle="tooltip" data-bs-placement="top" title="El Número de Celular se emplea para enviar información acerca de las citas médicas." src="~/img/pregunta.png" width="20px" />
                    <input asp-for="Telefono" class="form-control" pattern="[0-9]{10}" maxlength="10" placeholder="999999999" type="text" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div><label></label></div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

    <div><label></label></div>

    <div>
        <a asp-controller="Home" asp-action="Index" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Regresar</a>
    </div>

</div>



