
@{
    ViewData["Title"] = "Index";
}

@if (TempData["ErrorMessage"] != null)
{
    <!--No se pueden cargar las citas-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["ErrorMessage"]', 'error');
        }
    </script>
}

        <partial name="_MenuPacientes" />

        <h1>Bienvenido a MediDate</h1>

        </div> @*Fin Col de _MenuMedicos.cshtml*@
    </div> @* Fin Row de _MenuMedicos.cshtml*@
</div> @*Fin Container de _MenuMedicos.cshtml*@


