@model MediDate.Models.DetServicio

@{
    ViewData["Title"] = "Create";
}

<style>
    #ddBusqueda {
        position: absolute;
        z-index: 9999;
        background-color: white;
        padding: 10px;
        border: 1px solid #ccc;
        width: 900px;
        box-sizing: border-box;
    }
</style>

<partial name="_MenuMedicos" />

<h1>Agregar Servicio</h1>

<div><label></label></div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Servicio" class="control-label"><b>Servicio</b></label>
                <p>Selecciona una opcion de la lista o escribe en el recuadro sino encuentras la opción en la lista.</p>
                <input id="txtServicio" asp-for="Servicio" class="form-control" type="text" placeholder="Servicio"/>
                <select id="ddServicio" class="form-control" asp-for="IdServicio">
                    <option>-- Selecciona una opción --</option>
                    @foreach (var option in ViewBag.Servicios)
                    {
                        <option value="@option.Value">@option.Text</option>
                    }
                </select>
                @*<input id="txtBuscar" name="txtBuscar" onkeyup="getDropdownData()" type="text" class="form-control" placeholder="Nombre, Apellido, Correo" autocomplete="off">*@
                @*<ul id="ddBusqueda" style="display:none;"></ul>*@

                <span asp-validation-for="IdServicio" class="text-danger"></span>
            </div>
            <div><label></label></div>
            <div class="form-group">
                <label asp-for="Costo" class="control-label"><b>Costo</b></label>
                <input asp-for="Costo" class="form-control" placeholder="250"/>
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div><label></label></div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexMedico" asp-controller="Cita">Ir a Mis citas</a>
</div>

        </div> @*Fin Col de _MenuMedicos.cshtml*@
    </div> @* Fin Row de _MenuMedicos.cshtml*@
</div> @*Fin Container de _MenuMedicos.cshtml*@

<script>


    @*Mostrar lista desplegable para el buscador*@
    function getDropdownData() {
        const txtBuscar = document.getElementById('txtBuscar').value;

        $.ajax({
            url: `/DetServicio/GetDropdownData?txtBuscar=${txtBuscar}`,
            type: 'GET',
            success: function (data) {


                const dropdown = document.getElementById('ddBusqueda');

                dropdown.innerHTML = '';

                if (data.length === 0) {
                    dropdown.style.display = 'none';
                } else {

                    data.forEach(item => {
                        const listItem = document.createElement('li');
                        listItem.textContent = item;
                        listItem.classList = 'list-group-item list-group-item-action';
                        listItem.addEventListener('click', function () {
                            listItem.classList = 'list-group-item active';
                            handleItemSelected(item);
                            dropdown.style.display = 'none';
                        });
                        dropdown.appendChild(listItem);
                    });

                    dropdown.style.display = 'block';
                }
            }
        });
    }

    @*Pone la opcion seleccionada de la lista desplegable en el input del buscador*@
    function handleItemSelected(item) {
        document.getElementById('txtBuscar').value = item;
    }

</script>

